/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();
$my-typography: mat.define-typography-config(
  $font-family: "Cairo, sans-serif",
);
@include mat.typography-hierarchy($my-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: #eee;
}
* {
  box-sizing: border-box;
}
.my-typography {
  @include mat.all-component-typographies($my-typography);
}
